<div data-ng-controller="loginController as ctrl">
	<div class="section">
		<div class="form-group">
			<label for="email">User:</label> 
			<input type="text"
				class="form-control" id="iuserId" placeholder="Enter IUSER Id"
				name="iuserId" data-ng-model="credentials.username">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> 
			<input type="password"
				class="form-control" id="iuserPwd" placeholder="Enter password"
				name="iuserPwd" data-ng-model="credentials.password">
		</div>
		<div data-ng-show="error" class="alert alert-danger">
			<p>{{ errorMessage }}</p>
		</div>
		<button type="button" class="btn btn-info" id="loginBtn" data-ng-click="ctrl.login()">Login</button>
		<button type="button" class="btn btn-info" id="resetBtn" data-ng-click="ctrl.reset()">Reset</button>
	</div>
</div>